<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <ul>
      <li>Name: <%= user_info.name %></li>
      <li>Dojo Location: <%= user_info.dojolocation %></li>
      <li>Favorite Language: <%= user_info.favlang %></li>
      <li>Comment: <%= user_info.comment %></li>
    </ul>
    <a href="/"><p>Go Back</p></a>
  </body>
</html>
